.NavbarRightContentOnSignup {


  .balance {
    width: 126px;
    height: 37px;
    border: 1px solid #627990;
    border-radius: 20px;
    margin-right: 56px;

    h4 {
      font-family: Roboto-Regular, sans-serif;
      font-size: 14px;
      font-weight: bold;
      background: -webkit-linear-gradient(#D08E82, #BC7597);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-top: 3px;
    }
  }

  .user-dropdown-btn {
    padding: 0.5em;
    margin-right: 24px;

    img {
      margin-right: 6px;
    }

    &.dropdown-toggle::after {
      border: solid #627990;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }

  .dropdown-menu.user-dropdown {
    border-radius: 0;
    border-color: #627990;
    padding: 6px 0;
    transform: translate3d(-98px, 55px, 0px) !important;
    width: 152px;

    a {
      padding: 6px 14px;
      color: #627990;
      transition: all ease-in 0.4s;
      font-family: Roboto-Regular, sans-serif;
      font-size: 12px;
      border: 0.2px solid transparent;
      display: flex;


      &:hover {
        background: #DFE8F1;
        border: 0.2px solid #627990;
      }

      .dropdown-icon-wrap {
        width: 16px !important;
        height: 14px;
        display: flex;
        align-items: flex-end;
        margin-right: 8px;


        img {
          margin: 0 auto;
        }
      }
    }
  }
}
