.CurrencyInfoTableBlock {
  background: #FFFFFF;
  border: 0.5px solid #DDE2E8;
  box-shadow: 0 0 10px rgba(63, 77, 69, 0.1);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #627990;

}
