.DashboardContent {
  background: #E5E5E5;
  width: calc(100% - 262px);
  margin-left: auto;
  padding: 77px 18px 0 18px;
  min-height: 100vh;
}

.currency-toggle-section {
  margin: 18px 0;
  padding: 0 10px 0 13px;
  color: #627990;
  font-size: 13px;
  font-family: Roboto-Regular, sans-serif;
}
