.CurrencyInfoListItemCollapsibleContent {


}

.CurrencyInfoListItemCollapsibleContent__leftside {
  width: 50%;
  //border: 1px solid mediumvioletred;
}


.table-logo-container {
  max-width: 158px;
  width: 25%;
  margin-right: 32px;
  //border: 1px solid green;
}

.table-currency-name {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}



